    <%- include('./header.ejs') %>

    <br>
    <br>
    <br>
    <section id="sucess">
        <div class="inner">
            <h1>Cadastro da realizado com sucesso</h1>
            <p>ID: <%= id %></p>
            <p>Nome: <%= nome %></p>
            <p>Senha: <%= senha %></p>
        </div>
    </section>

    <%- include('./footer.ejs') %>
    </body>
</html>

